@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------Обнуление*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main-header {
  z-index: 500;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
}

.main-header.out {
  background: #fff;
}

.supheader {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.supheader .nav-link {
  display: block;
  color: #b30000;
  padding: 18px 20px;
  font-size: 13px;
  position: relative;
}

.supheader .nav-link img {
  max-width: 35px;
  height: auto;
}

.supheader .location {
  position: relative;
  padding: 0 40px;
  text-decoration: underline;
  color: #b30000;
  font-size: 16px;
}

.supheader .location img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 30px;
  width: auto;
}

.supheader .nav-item {
  position: relative;
  padding: 0 10px;
}

.supheader .nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: #ffb0b0;
  -webkit-transform: skew(-35deg);
          transform: skew(-35deg);
}

.supheader .nav-item:hover {
  font-weight: 500;
}

.supheader .nav-icon {
  padding: 0;
}

.supheader .active {
  font-weight: 500;
}

.supheader .active::before {
  opacity: 0.9;
}

.supheader .navbar {
  padding: 0;
  height: 55px;
}

.supheader.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  margin-top: -55px;
}

.header .navbar-brand-text {
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
}

.header .navbar-brand-text p {
  margin: 6px 0;
}

.header .navbar-brand-logo {
  max-width: 200px;
  height: auto;
  padding-right: 20px;
}

.header .nav-item {
  font-size: 13px;
  color: #8295a0;
}

.header .nav-item p {
  font-family: "PT Sans", Arial, sans-serif;
  padding: 0 1rem;
  margin-bottom: 5px;
}

.header .nav-link {
  font-weight: 700;
  font-size: 30px;
  color: #b30000;
}

.header .nav-btn {
  -webkit-transition: .3s;
  transition: .3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding-left: 60px;
  padding-right: 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
  background: url("/img/tel-black.svg") no-repeat 10px 50%;
  background-size: 50px;
}

.header .nav-btn:hover {
  background: url("/img/tel-white.svg") no-repeat 10px 50%, #b30000;
  color: #fff;
  background-size: 50px;
}

.header .nav-btn-login {
  background: url("/img/login-icon-black.svg") no-repeat 10px 50%;
  background-size: 45px;
}

.header .nav-btn-login:hover {
  background: url("/img/login-icon-white.svg") no-repeat 10px 50%, #b30000;
  background-size: 45px;
}

.subheader {
  border-top: 2px solid #eef0f1;
  border-bottom: 2px solid #eef0f1;
}

.subheader .nav {
  padding: 15px 0;
}

.subheader .nav-link {
  color: #272727;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.mainslider__img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.productsCategories {
  margin: 50px 0;
}

.productsCategories__row {
  margin: 25px 0;
}

.productsCategories__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.productsCategories .card {
  border-radius: 0;
  opacity: 0.85;
  -webkit-transition: 1s;
  transition: 1s;
}

.productsCategories .card:hover {
  z-index: 2;
  opacity: 1;
}

.productsCategories .card-title {
  color: #b30000;
}

.moreDetails {
  background-color: #ffffff;
  padding: 50px 0;
}

.moreDetails__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.moreDetails__text {
  margin-bottom: 60px;
}

.moreDetails__wrapper-item {
  text-align: center;
  border-right: 2px solid #e5e8ea;
}

.moreDetails .item-top {
  display: block;
  font-size: 43px;
  font-weight: 900;
  padding: 0 0 10px 0;
}

.moreDetails .item-text {
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  max-width: 70%;
}

.moreDetails .item-last {
  border-right: none;
}

.moreDetails__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0 0 0;
}

.moreDetails__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
}

.moreDetails__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.partners {
  padding: 50px 0;
  background-color: #ffffff;
}

.partners__title {
  text-align: center;
  margin-bottom: 30px;
  color: #b30000;
}

.partners__item {
  max-width: 70%;
}

.categoriesMenu__title {
  text-align: center;
  margin-bottom: 80px;
  color: #b30000;
}

.categoriesMenu .card {
  text-align: center;
  border: none;
}

.categoriesMenu .card .card-img-top {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.categoriesMenu .card-text {
  color: #b30000;
  cursor: pointer;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
  background: #fff;
}

.breadcrumb-item a {
  color: #b30000;
}

.mainCategories__header {
  margin: 199px 0 0 0;
  background: url("https://backend.akfagroup.uz:8443/akfagroup-api-build/rest/resource/section/c040842d-ae65-4979-8ed2-7e1e10d3f014_header.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 90px 0 50px 0;
}

.mainCategories__header-inner {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainCategories__header-inner h2 {
  font-size: 55px;
  line-height: 60px;
}

.mainCategories__header-inner h4 {
  width: 70%;
  margin: 2.415vw 0 0 0;
  font-weight: 400;
}

.mainCategories__header-bottom {
  background-color: #990100;
  padding: 50px 0;
}

.mainCategories__header-bottom .item-top {
  display: block;
  font-size: 60px;
  font-weight: 400;
  padding: 0 10px 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainCategories__header-bottom .item-text {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  max-width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mainCategories__header-item {
  color: #fff;
}

.catalogCategories-nav {
  padding: 50px 0;
  font-size: 20px;
}

.catalogCategories-nav .nav-tabs .nav-link {
  border: 2px solid transparent;
}

.catalogCategories-nav .nav-link {
  font-weight: 500;
  color: #495057;
  border: none;
}

.catalogCategories-nav .nav-link.active {
  color: #b30000;
  border: none;
}

.products .card {
  margin-bottom: 25px;
  border: none;
  background-color: #1e1e1e;
  border-radius: 0;
  overflow: hidden;
}

.products .card .card-img {
  -webkit-transition: 1s;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 0;
}

.products .card:hover .card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 22px;
  font-weight: 700;
  margin-left: 5px;
  position: relative;
}

.products__btn .nav-btn:hover {
  background-color: #b30000;
  color: #fff;
}

.advertising {
  padding: 50px 0;
}

.advertising__title {
  margin: 0 0 40px 0;
  color: #b30000;
}

.advertising .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
}

.advertising .card-text {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
}

.advertising .card-body {
  padding: 20px 0;
}

.advertising .card-img-top {
  width: 110px;
  border-radius: 50%;
  background: #ebebeb;
}

.leaveRequest {
  margin: 100px 0 0 0;
  padding: 100px 0;
  background: url("/img/leaveRequst-bg.jpg") no-repeat 50% 20%;
  background-size: cover;
}

.leaveRequest .card {
  border: none;
  border-radius: 0;
}

.leaveRequest .card-title {
  font-size: 35px;
  font-weight: 400;
  color: #b30000;
  margin: 30px 0;
}

.leaveRequest .card-text {
  font-size: 19px;
  line-height: 28px;
  margin: 0 0 30px 0;
}

.leaveRequest .form-control {
  border-radius: 0;
  padding: 20px 15px;
}

.leaveRequest__btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 20px 0;
}

.leaveRequest__btn .nav-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #b30000;
  color: #fff;
  border: 2px solid #b30000;
  border-radius: 0;
  font-size: 17px;
  height: 56px;
  padding: 0 55px;
  font-weight: 700;
  position: relative;
}

.leaveRequest__btn .nav-btn:hover {
  background: #fff;
  color: #b30000;
}

.footer {
  background-color: #ffffff;
  color: #990100;
  font-size: 14px;
}

.footer a {
  color: #990100;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.footer__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 30px;
}

.footer__logo img {
  max-width: 200px;
  height: auto;
}

.footer__text {
  line-height: 1.6;
  margin-bottom: 10px;
  max-width: 200px;
}

.footer__tel {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer__tel a:hover {
  color: #cd3301;
}

.footer__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__item {
  line-height: 25px;
}

.footer__item:hover {
  color: #cd3301;
}

.subfooter {
  background: #555454;
  padding-top: 10px;
  font-size: 14px;
}

.subfooter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter a,
.subfooter p {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col p {
  margin: 15px 0;
  font-weight: 600;
  text-align: center;
}

.subfooter__wrapper-col a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col a:hover {
  color: #cd3301;
}

.subfooter__wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.supfooter {
  margin-bottom: 30px;
  background: url("/img/supfooter-bg1.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 18px;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .footer__wrapper {
    display: none;
  }
  .subfooter {
    font-size: 14px;
  }
  .subfooter p {
    color: #ffffff;
  }
  .subfooter a {
    line-height: 30px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 787px) {
  .subfooter {
    font-size: 10px;
  }
  .subfooter p {
    color: #ffffff;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .subfooter a {
    line-height: 20px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */